{% extends "pizzas/base.html" %}
{% load static %}

{% block page_header %}

<style>
    .jumbotron {background-color: white;

    }
</style>

    <div class="jumbotron">
        <h1 class="display-3">Welcome to Pizzeria!</h1>

        <p class="lead">Best choose in the campus. if you want to make an order, please log in to 
            our page and choose what kind of Pizzas you want from menus.</p>
        
            <a class="btn btn-lg btn-primary" href="{% url 'pizzas:pizza1'%}"
                style="background:sienna; border-color: snow; color: snow"
                role="button">Choose your pizza here &raquo;</a></button>
    </div>

<img src="{% static 'pizzas/pizzria.jpg' %}" alt="Pizzeria" width="550" height="350">
<img src="{% static 'pizzas/pizzeria.jpg' %}" alt="Pizzeria" width="550" height="350">


{% endblock page_header %}