{% extends "pizzas/base.html" %}
{% load static %}

{% block page_header %}
<h3 style="font-size:xx-large; color: saddlebrown;">{{ pizza2 }}</h3>
<p style="font-size:medium;">  - you can add below topping for your pizza.</p> 
{% endblock page_header %}


{% block content %}


<ul>
    {% for t in toppings %}

    <li><h3 style="font-size:medium;">
        {{ t }}
    </h3></li>
    {% empty %}
    <li><h3>No pizza's topping have been added yet.</h3></li>
    {% endfor %}
</ul>


<ul>
    <li><h3>
        <img src="{{ image.image.url }}" alt="Pizzeria" width="350" height="350">
    </h3></li>
</ul>


<p>
    <a href="{% url 'pizzas:new_comment' pizza2.id %}" style="color: saddlebrown;"> add a new comment</a>
</p>


{% for c in comments %}
<div class="card mb-3" style="background-color:floralwhite;">
    <h4 class="card-header">
        {{ c.date_added }}
    </h4>
    <div class="card-body">
        {{ c.text|linebreaks }}
    </div>
</div>

{% empty %}
<li> There are no comment for this pizza yet.</li>
{% endfor %}


{% endblock content %}
